@import url(fusion.css);

:root{
    --fusion-primary: #2f7de4;
    --fusion-primary-hover: #4289e6;
    --fusion-bg-primary: #171a21;
    --fusion-bg-secondary: #222631;
    --fusion-contrast: #1d2029;
    --fusion-text-color: #d6d6d6;
}

:root{
    --ts-third-font-color: var(--tsv-font-subtitle-color) !important;
    --tsv-client-talking--gradient-start: var(--fusion-primary) !important;
    --tsv-client-talking--gradient-stop: var(--fusion-primary-hover) !important;
    --tsv-header-font-color: var(--tsv-icon-base) !important;
    --ts-chat-system-message-bg: var(--fusion-bg-primary) !important;
    --tsv-header-bg: linear-gradient(to bottom, var(--fusion-bg-primary), var(--fusion-bg-secondary)) !important;
    --tsv-icon-base: var(--fusion-text-color) !important;
    --tsv-separation-border-color: #515463 !important;
    --tsv-client-silent--gradient-start: var(--fusion-contrast) !important;
    --tsv-client-silent--gradient-stop: var(--fusion-bg-secondary) !important;
    --tsv-contrast-bg: var(--fusion-contrast) !important;
    --tsv-highlight-header-honeycomb-bg: linear-gradient(to bottom, var(--fusion-bg-primary), var(--fusion-bg-secondary)) !important;
    --tsv-shaded-bg: var(--fusion-bg-primary) !important;
    --tsv-font-subtitle-color: #8492aa !important;
    --tsv-icon-channel-bg: #272727 !important;
    --tsv-icon-channel-shade1: #9099a3 !important;
    --tsv-icon-channel-shade2: #75828f !important;
    --tsv-icon-channel-shade3: #6b7580 !important;    
    --tsv-tint: var(--fusion-primary) !important;
    --tsv-tint2: var(--fusion-primary-hover) !important;
    --tsv-font-color: var(--fusion-text-color) !important;
    --tsv-bg: var(--fusion-bg-secondary) !important;
    --tsv-header-bg: linear-gradient(to bottom, var(--fusion-bg-secondary), var(--fusion-bg-primary)) !important;
    --tsv-scrollbar-bg: var(--fusion-primary) !important;
}
